* {
  box-sizing: border-box;
}
.product {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  gap: 3em;
  justify-content: center;
}

.image_wrap {
  width: 280px;
  margin: 0;
}

.text_wrap {
  /* vertical-align: middle; */
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  min-width: 300px;
}

.product_counter {
  border: 1px solid black;
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  margin: 0.5em 0;
}

.sub_price {
  margin-left: auto;
  margin-right: 20px;
  font-size: 1.5rem;
}

.sub_price button {
  border: none;
  background-color: inherit;
  padding: 10px;
}

.image_wrap img {
  max-width: 300px;
  /* width: 100%; */
  /* border-radius: 10px; */
}

.bi {
  font-size: 2rem;
  color: gray;
}
