* {
  box-sizing: border-box;
}
.product {
  display: flex;
  padding: 10px;
  width: 100%;
}

.image_wrap {
  width: 280px;
  margin: 0;
}

.text_wrap {
  vertical-align: middle;
  margin-left: 10px;
}

.sub_price {
  margin-left: auto;
  margin-right: 20px;
  font-size: 1.5rem;
}

.sub_price button {
  border: none;
  background-color: inherit;
  padding: 10px;
}

.image_wrap img {
  max-width: 300px;
  /* width: 100%; */
  /* border-radius: 10px; */
}

.bi {
  font-size: 2rem;
  color: gray;
}
